* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: calc(100vh - 70px);
  padding: 10px;
  background-color: rgb(249, 251, 255);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.content.about {
  height: calc(100vh - 70px);
}
